doctype html
html
  head
    title= title
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css2?family=Julius+Sans+One:wght@400&display=swap')
    link(rel='stylesheet', href='/stylesheets/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
