extends layout

block content
  - let supportEmail = 'Explorers@TheSpacePerspective.com'
  - let site = 'TheSpacePerspective.com'

  header
    h1.header-logo
      a(href=`https://${site}`)
        img(src='/images/logo-white-small.png' alt='The Space Perspective' width='350')
    img(class='header-banner' src='/images/success-banner.png' alt='Your Journey As A Space Explorer Starts Now')

  main.success-container
    .success-block
      h2 Congratulations #{transaction.first_name}!
      p You are going to the edge of space as a Space Explorer.
      p A rare, and humbling journey now awaits you.

    .success-block
      h3 Space Perspective
      p Earth seen in the darkness of space and your place in the
      p Universe will come vividly into perspective. There is simply no
      p other experience akin to this than the space perspective.

    .success-block
      h3 What is Next?
      p In the coming months you will receive a welcome packet.
      p Until lift off, we will keep you informed of your preflight
      p community benefits so your journey to the edge of space is one you'll never forget.

    .success-block
      h3 We Are Here To Assist You
      p
        | Please contact us at&nbsp;
        a(href=`mailto:${supportEmail}`)= supportEmail
        | &nbsp;with any questions you may have.

  footer
    h4 Space Perspective
    a(href=`https://${site}`)= site
