:root {
  --color-fg: hsl(0,100%,100%);
  --color-bg: hsl(0,100%,0%);
  --color-bg-alt: #010146;

  --color-accent: #00C9FF;
  --color-accent-alt: #FF9E1B;
  --color-accent-dark: hsl(240, 97%, 14%);

  --font-heading: "Julius Sans One";
  --font-body: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-body);
  font-size: 110%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  /* font-family: var(--font-heading); */
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3em;
  margin-bottom: 0.8rem;
}

h1, h2 {
  text-transform: none;
}

h1 { font-size: 2.85rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.8rem; }

pre, code {
  font-family: monospace;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.3;
  font-size: 1.1rem;
}

p > a {
  display: inline-block;
  margin: 0 0.15em;
}

/* layout */

.container {
  max-width: 70vw;
  padding: 0.3rem 0.2rem;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

/* header */

header {
  margin: 0.1rem auto 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo {
  max-width: 80%;
}

.header-logo img {
  width: auto;
  max-width: 100%;
  max-height: 126px
}

.header-banner {
  width: auto;
  max-width: 100%;
  max-height: 300px;
}

/* footer */

footer {
  margin-bottom: 2rem;
  text-align: center;
}

/* main */

.success-container {
  text-align: center;
}

.success-block {
  margin-bottom: 5rem;
}

.success-block p {
  margin: 0 0 0.4em 0
}

/* components */

.btn {
  overflow-wrap: break-word;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 0em;
  font-size: calc((1.4 - 1) * 1.2vw + 1rem);
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: normal;
  padding: .7rem 1.169rem;
  border-width: 2px;
  border-style: solid;
  transition: 0.1s background-color linear, 0.1s color linear;
  border-radius: 300px;
  color: #fff;
  border-color: #fff;
}
